.hero-image {
  background: url("./assets/hero-boy.png") no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-size: cover;
  /* background-position: ; */
}

header {
  position: fixed !important;
  z-index: 1;
  background-color: #fff;
}

.hero-text {
  position: relative;
  top: 30%;
  left: 3%;
  font-family: "Sora";
  font-weight: bold;
  line-height: normal;
  font-size: 52px;
  font-weight: bold;
  color: white; /* set the text color */
  -webkit-text-stroke: 1px #fff; /* set the stroke width and color */
  text-stroke: 1px #fff; /* standard syntax */
  animation-name: slide-in-from-top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Animation to make the Text Appear*/
@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-caption,
.news-caption {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.hero-caption .caption,
.news-caption .caption {
  font-size: 16px;
  font-weight: 500;
}

.courses-section {
  padding: 0 4rem;
}

.course-img {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  background-color: #f2f6fe;
  border-radius: 10%;
  padding: 12px;
  background-position: center;
}

.course-caption-text {
  margin: 2px 0 3rem 0;
}

.btn {
  justify-content: center;
  display: flex;
  margin-bottom: 2rem;
}

.news-section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.news-img {
  height: 450px;
  width: 450px;
  background-color: aqua;
  gap: 5px !important;
  border-radius: 4px;
}

.news-first {
  background: url(./assets/news-img1.png);
  background-size: cover;
  padding: 20px;
  box-shadow: inset 0 0 100px 0 #000;
}

.news-sec {
  background: url(./assets/news-img2.png);
  background-position: cover;
  background-size: cover;
  padding: 20px;
  box-shadow: inset 0 0 100px 0 #000;
}

.news-third {
  background: url(./assets/news-img3.png);
  background-position: cover;
  padding: 20px;
  background-size: cover;
  box-shadow: inset 0 0 100px #000;
}

.news-img-caption {
  position: relative;
  top: 90%;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

/* Acknowledgement Section */
.ack {
  height: 450px;
  width: 100vw;
  background-color: #052326 !important;
  margin-left: -1rem;
  margin-top: 1rem !important;
  justify-content: center;
  align-items: center;
  color: white;
}

.ack-text {
  line-height: normal;
  font-size: 36px;
  width: 49.5%;
  font-weight: bold;
}

.ack-img {
  height: 246px;
  font-family: "Sora";
  width: 230px;
  background: url(./assets/papa-bi.png);
  background-position: center;
  background-size: contain;
  border-radius: 2px;
}

/* Subcription Text */
.sub-text {
  font-weight: 500;
  font-size: 16px;
  /* color: #ee7; */
}

.school-stats {
  height: 300px;
  width: 101vw;
  background-color: #006e90;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  gap: 22rem;
  /* margin-right: -1000px !important; */
}

.school-ads {
  width: 280px;
  font-weight: bolder !important;
}

.school-ads,
.enrolled-students h2,
.number-of-staff h2,
.global-alumni h2 {
  font-size: 30px;
  font-family: "Sora";
  font-weight: bold;
}

.alumni-images {
  width: 100vw;
  height: 470px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: -1rem;
}

.just-an-empty-div {
  justify-content: space-between;
  position: relative;
  top: 40%;
  display: flex;
  align-items: center;
  /* gap: 20rem !important; */
}

.fourth-and-fifth-img {
  justify-content: center !important;
  display: flex;
  align-items: center !important;
}

.image-alumni.fourth {
  margin-left: 55%;
  margin-top: -20px !important;
}

.alumni-text-section {
  position: relative;
  top: 30%;
}

.alumni-text-section p {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}

.alumni-img button {
  position: relative;
  font-family: "Sora";
}

/* Footer */
.footer {
  height: 410px;
  display: flex;
  color: white;
  gap: 10%;
  font-family: "Inter";
}

.footer ul li a:hover,
.school-details h1:hover {
  cursor: pointer;
  color: #ee7;
  transition: ease-in cubic-bezier(0.075, 0.82, 0.165, 1);
}

.seperator {
  height: 1px;
  width: 92%;
  margin-right: 5rem;
}

.newsletter-sub {
  width: 320px;
  padding: 3px;
  padding-right: 5px;
  border-radius: 8px;
}

.newsletter-section input {
  outline: none;
  width: 88%;
  color: black;
}

.newsletter-section input::placeholder {
  color: #000 !important;
}

.send-btn {
  width: 40px;
  height: 40px;
  background-color: #000;
  position: relative;
  /* margin-right: 0%; */
  cursor: pointer;
}

.btm-sub li {
  list-style: none;
  cursor: pointer;
}

.exitMenu {
  display: none;
}

.findbtn-text {
  display: none;
}

.menu-logo {
  display: none !important;
}

/* Mobile Phones */
@media screen and (max-width: 639px) {
  /* styles for screens smaller than 639px */

  /* Navbar Customization */
  .navbar-navigation {
    display: block;
    height: 100vh;
    width: 100vw;
    flex-direction: column-reverse;
    background-color: whitesmoke;
    border-radius: 0;
    position: absolute;
    z-index: 111111 !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem !important;
    justify-content: center;
    transition: ease-in-out 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scaleX(4rem) !important;
    align-items: center;
    font-size: 18px;
  }

  .navbar-navigation Link:hover {
    transform: scale(0.9);
    transition: ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-weight: 600;
  }

  .header-menu-icon {
    margin-right: -0px !important;
    margin-top: 2px;
  }

  .exitMenu {
    display: block !important;
    position: absolute;
    margin: 1rem;
    top: 0%;
    right: 0%;
  }

  .menu-logo {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
  }

  .findbtn {
    width: 250px !important;
    height: 50px !important;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
  }

  .findbtn-text {
    border: none;
    display: block;
    height: 80%;
    background: transparent;
    width: 75%;
  }

  .findbtn-text:focus-within {
    border: none;
    outline: none;
  }

  /* Header Width */

  header {
    width: 100vw !important;
  }

  .header-menu-icon {
    display: block !important;
    margin-right: 2rem;
  }

  /* Hero Section */
  .hero-image {
    background-position: center;
    background-size: cover;
  }

  .hero-text {
    font-size: 36px;
    top: 60%;
    transform: scaleX(2rem);
    transition: ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-name: slide-in-from-top;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-from-top {
    0% {
      transform: translateY(-80%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hero-caption,
  .news-caption {
    font-size: 22px;
  }

  /* Course Section */
  .courses-section {
    display: flex !important;
    flex-direction: column !important;
    padding: 0 2rem;
    margin-top: -2rem;
  }

  .first-course,
  .second-course {
    border-bottom: 2px solid #eee !important;
  }

  /* News Section */
  .news-section {
    flex-direction: column;
    padding: 0 4rem !important;
    gap: 2rem !important;
  }

  .news-img {
    height: 320px;
    width: 350px;
  }

  .news-img-caption {
    top: 85%;
  }

  .news-first,
  .news-sec,
  .news-third {
    background-size: cover;
    box-shadow: inset 0 10px 200px #000;
  }

  /* Acknowledgement Section */
  .ack-text {
    font-size: 18px;
  }

  .ack-img {
    width: 30%;
    background-repeat: no-repeat;
  }

  .readMoreBtn {
    margin-top: 1rem !important;
  }

  /* School Stats */
  .school-stats {
    width: 101vw;
    margin: 0 -18px !important;
    justify-content: center;
    align-items: left;
    padding: 1rem !important;
    display: flex !important;
    flex-direction: column;
    gap: 10px;
  }

  .school-ads {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    font-family: "DM Sans";
  }

  .stats {
    margin: 0 !important;
    font-weight: 500;
  }

  .enrolled-students h2,
  .number-of-staff h2,
  .global-alumni h2 {
    font-size: 18px !important;
    font-family: "Sora";
    font-weight: bold;
  }

  .alumni-images img {
    width: 100vw;
    height: 470px;
    justify-content: center;
    display: none;
    align-items: center;
    margin-left: 1rem;
  }

  .alumni-text-section {
    display: flex;
    flex-direction: column;
    top: 10%;
    height: 350px;
    justify-content: center;
    align-items: center;
  }

  .alumni-text-section .enroll-ads {
    font-size: 18px;
    width: 100vw !important;
    text-align: center !important;
  }

  .enroll-ads-btn {
    width: 250px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Footer */
  .footer {
    height: 700px;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
  }

  .seperator {
    height: 1px;
    width: 75%;
    margin-right: 2rem;
    margin-top: -7rem !important ;
  }

  .details {
    display: flex !important;
    flex-direction: column !important;
    gap: 2rem;
    
  }

  /* Info Part */
  .info-part{
    font-size: small;
    display: flex !important;
    flex-direction: column !important;
  }

  .sch-logo{
    font-size: 22px;
  }

  .details .footer-caption{
    font-size: medium;
  }

  .btm-footer{
    font-size: 12px;
    margin-top: -10rem !important;
  }

  .rights-reserved{
    width: 250px !important;
  }

  .sch-copyright{
    margin-left: 60px!important;
    display: block;
    position: absolute !important;
    margin-top: 80px;
    color: gray;
    
  }

  .btm-sub{
    display: flex !important;
    flex-direction: column !important;
    text-align: right;
    position: absolute;
    right: 2rem;
  }
}

/* Tablets */
@media screen and (min-width: 640px) and (max-width: 1023px) {
    /* Navbar Customization */
  .navbar-navigation {
    display: block;
    height: 100vh;
    width: 100vw;
    flex-direction: column-reverse;
    background-color: whitesmoke;
    border-radius: 0;
    position: absolute;
    z-index: 111111 !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem !important;
    justify-content: center;
    transition: ease-in-out 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scaleX(4rem) !important;
    align-items: center;
    font-size: 18px;
  }

  .navbar-navigation Link:hover {
    transform: scale(0.9);
    transition: ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-weight: 600;
  }

  .header-menu-icon {
    margin-right: -0px !important;
    margin-top: 2px;
  }

  .exitMenu {
    display: block !important;
    position: absolute;
    margin: 1rem;
    top: 0%;
    right: 0%;
  }

  .menu-logo {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
  }

  .findbtn {
    width: 250px !important;
    height: 50px !important;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
  }

  .findbtn-text {
    border: none;
    display: block;
    height: 80%;
    background: transparent;
    width: 75%;
  }

  .findbtn-text:focus-within {
    border: none;
    outline: none;
  }

  /* Header Width */

  header {
    width: 100vw !important;
  }

  .header-menu-icon {
    display: block !important;
    margin-right: 2rem;
  }

  /* Hero Section */
  .hero-image {
    background-position: center;
    background-size: cover;
  }

  .hero-text {
    font-size: 36px;
    top: 60%;
    transform: scaleX(2rem);
    transition: ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-name: slide-in-from-top;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-in-from-top {
    0% {
      transform: translateY(-80%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hero-caption,
  .news-caption {
    font-size: 22px;
  }

  /* Course Section */
  .courses-section {
    display: flex !important;
    flex-direction: column !important;
    padding: 0 2rem;
    margin-top: -2rem;
  }

  .first-course,
  .second-course {
    border-bottom: 2px solid #eee !important;
  }

  /* News Section */
  .news-section {
    padding: 0 4rem !important;
    gap: 2rem !important;
  }

  .news-img {
    height: 320px;
    width: 350px;
  }

  .news-img-caption {
    top: 85%;
  }

  .news-first,
  .news-sec,
  .news-third {
    background-size: cover;
    box-shadow: inset 0 10px 200px #000;
  }

  /* Acknowledgement Section */
  .ack-text {
    font-size: 28px;
  }

  .ack-img {
    width: 30%;
    background-repeat: no-repeat;
  }

  .readMoreBtn {
    margin-top: 1rem !important;
  }

  /* School Stats */
  .school-stats {
    width: 101vw;
    margin: 0 -18px !important;
    justify-content: center;
    align-items: left;
    padding: 1rem !important;
    display: flex !important;
    flex-direction: column;
    gap: 10px;
  }

  .school-ads {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    font-family: "DM Sans";
  }

  .stats {
    margin: 0 !important;
    font-weight: 500;
  }

  .enrolled-students h2,
  .number-of-staff h2,
  .global-alumni h2 {
    font-size: 22px !important;
    font-family: "Sora";
    font-weight: bold;
  }

  .alumni-images img {
    width: 100vw;
    height: 470px;
    justify-content: center;
    display: none;
    align-items: center;
    margin-left: 1rem;
  }

  .alumni-text-section {
    display: flex;
    flex-direction: column;
    top: 10%;
    height: 350px;
    justify-content: center;
    align-items: center;
  }

  .alumni-text-section .enroll-ads {
    font-size: 28px;
    width: 100vw !important;
    text-align: center !important;
  }

  .enroll-ads-btn {
    width: 250px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Footer */
  .footer {
    height: 700px;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
  }

  .seperator {
    height: 1px;
    width: 90%;
    margin-right: 2rem;
    margin-top: -3rem !important ;
  }

  .details {
    display: flex !important;
    /* flex-direction: column !important; */
    gap: 4rem;
    
  }

  /* Newsletter Section */
  .newsletter-section{
    margin-right: -2rem;
  }

  /* Info Part */
  .info-part{
    font-size: medium;
    display: flex !important;
    /* flex-direction: column !important; */
  }

  .sch-logo{
    font-size: 22px;
  }

  .details .footer-caption{
    font-size: medium;
  }

  .btm-footer{
    font-size: 12px;
    margin-top: -10rem !important;
  }

  .rights-reserved{
    width: 250px !important;
    font-size: medium;
  }

  .sch-copyright{
    margin-left: 20rem!important;
    display: block;
    font-size: medium;
    position: absolute !important;
    /* margin-top: 80px; */
    color: gray;
    
  }

  .btm-sub{
    display: flex !important;
    flex-direction: column !important;
    text-align: right;
    position: absolute;
    font-size: medium;
    right: 2rem;
  }
}
