body{
    color: black;
    /* background: url(../assets/loginBg.jpg) no-repeat !important; */
    height: 100vh;
    background-position: baseline !important;
    background-size: cover !important;
}

/* Login Section */
.user-login-section{
    position: absolute;
    display: block !important;
    top: 40%;
    right: 20%;
}

/* Username Section */
.username-part, .passcode-part{
    width: 320px;
    height: 40px;
    margin-bottom: 5px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: medium !important;
}

.passcode-part input, .username-part input{
    outline: none;
}

.passcode-part svg, .username-part svg{
    margin-right: -5rem;
}

.primary-btn{
    width: 280px;
    height: 40px;
    background-color: #BF9F62;
    color: #eee;
    border-radius: 20px;
}

.btn-container{
    justify-content: center !important; 
    align-items: center !important;
    display: flex !important;
    margin: 10px 0;
}


/* SIGN UP PST */
.sign-up-pst{
    position: absolute;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items:  center !important;
    height: 5   0%;
    right: 10%;
    gap: 1rem;
    top: 25% !important;
}

.sign-up-pst form{
    padding: 10px 40px;
    display: flex ;
    flex-direction: column;
    gap: 5px;
}

.sign-up-pst form input{
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #FFFFFF80 ;
    color: black !important;
}

.sign-up-pst input::placeholder{
    color: black !important;
}

.name-field{
    width: 100%;
}


.name-field input{
    width: 50%;
}


.signup-btn{
    color: #eee;
    background-color: #BF9F62;
    width: 80%;
    padding: 8px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin-top: 5px;
}